/* shared style for font */
body {
    font-family: 'Open Sans', sans-serif;
}


/* header styles */

.website-title {
    color: #FFF;
    text-align: center;

    font-size: 32px;

    font-weight: 400;
    padding-top: 177px;
    padding-left: 530px;
    padding-right: 531px;
    padding-bottom: 0px;


}

.website-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    /* 131.944% */


}

.banner-image {
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;



}

.section-header {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section-message {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;

}

.section-message-2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.welcome-party {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;

}



.welcome-party-heading{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    padding: 57px 94px 230px 126px;

}
.image-2024 {
    padding: 68.11px 138px 67.23px 0px;
    
}


.footer-section {}